body {
  max-width: 900px;
  margin: 0 auto;
}

nav {
  max-width: 960px;
  margin: 0 auto;
}

.heading {
  display: inline-block;
}

.heading img {
  display: inline-block;
}

.heading h1 {
  display: inline-block;
  font-family: 'Yellowtail', cursive;
}

.socialMediaIcons {
  float: right;
}

.print {
  margin-top: -50px;
  float: right;
  display: inline-block;
}

.print img{
  display: inline-block;
}

.print p {
  display: inline-block;
  }

article {
  max-width: 960px;
  margin: 0 auto;
}

.firstarticle {
  margin-top: 30px;
}

.lastarticle {
  margin-bottom: 30px;
}

ul {
  font-family: 'Just Me Again Down Here', cursive;
  font-size: 24px;
  /*list-style-image: url(img/emptybox.png);*/
}

#lefthalfrecipe {
  margin-top: -275px;
  margin-left: 40px;
  line-height: 31px;
}

#righthalfrecipe {
  margin-top: -210px;
  margin-left: 340px;
  line-height: 31px;
}

.author {
  margin-top: 120px;
}
