body {
  max-width: 900px;
  margin: 0 auto;
}

nav {
  max-width: 960px;
  margin: 0 auto;
}

.heading {
  display: inline-block;
  margin-top: 30px;
}

.heading img {
  display: inline-block;
}

.heading p {
  font-size: 15px;
  
  font-family: 'Open Sans Condensed', sans-serif;
}

.heading h1 {
  display: inline-block;
  font-family: 'Yellowtail', cursive;
  font-size: 40px;
  position: absolute;
  margin-top: -15px;
}

.chocoPizza h1 {
  font-family: 'Oswald', sans-serif;
}

.chocoPizza p {
  font-family: 'Open Sans Condensed', sans-serif;
}

.socialMediaIcons {
  float: right;
  margin-top: 30px;
}

.print {
  margin-top: -50px;
  float: right;
  display: inline-block;
}

.print img{
  display: inline-block;
}

.print p {
  display: inline-block;
  }

article {
  max-width: 960px;
  margin: 0 auto;
}

.firstarticle {
  margin-top: 30px;
}

.lastarticle {
  margin-bottom: 30px;
}

ul {
  font-family: 'Just Me Again Down Here', cursive;
  font-size: 24px;
  /*list-style-image: url(img/emptybox.png);*/
}

#lefthalfrecipe {
  margin-top: -275px;
  margin-left: 40px;
  line-height: 31px;
}

#righthalfrecipe {
  margin-top: -210px;
  margin-left: 340px;
  line-height: 31px;
}

.author {
  margin-top: 120px;
  max-width: 900px;
}

.aboutVanessa {
  display: inline-block;
}

.aboutVanessa h3 {
  margin-left: 100px;
  margin-top: -75px;
}

.aboutVanessa p {
  margin-left: 100px;
}

.aboutVanessa button {
  display: inline-block;
  float: right;
  margin-right: -180px;
  margin-top: -50px;
  padding: 10px 20px;
  color: white;
  border: none;
}

button {
  background-color: #bc7058
}

.face {
  margin-top: 20px;
}

.logo {
  max-width: 50px;
  margin: 0 auto;
  margin-bottom: -33px;
}

.copyright {
  margin-top: 40px;
  text-align: center;
}
